@import '../node_modules/react-toastify/dist/ReactToastify.css';

.search-owner {
  margin-left: 50px;
  width: 400px;
}

.home-title {
  margin-left: 12px;
}

div.bg_image {
  background: url('./assets/404ErrorImage.png') no-repeat center;
  background-size: 600px 350px;
  height: 400px;
}

div.fourOfour-container {
  color: black;
  font-size: 100px;
  text-align: center;
}

span.fourOfour-subtitle-container {
  font-size: 50px;
}

div.link {
  text-align: center;
  font-size: 20px;
}

.ms-Button.add-owner-btn {
  width: 180px;
  margin-top: 12px;
  margin-left: 50px;
  border-radius: 8px;
  color: white;
  background-color: rgb(9, 132, 227);
  margin-top: 12px;
}

.instructions {
  /* display: flex;
  justify-content: flex-start; */
  /* border: 2px dashed grey; */
  /* border-radius: 8px; */
  padding: 8px;
  z-index: 1000;
}

.expandable-content {
  max-height: 0;
  transition: max-height 0.25s ease-out, margin 0.25s ease-out, opacity 0.25s ease-in;
  margin: 0 50px;
  opacity: 0;
}

.expandable-content.expanded {
  position: sticky;
  top: 78px;
  max-height: 100vh;
  margin: 12px 50px;
  opacity: 1;
  transition: max-height 0.5s ease-in, margin 0.5s ease-in, opacity 0.5s ease-in;
}