.form-container {
  margin: 0px 50px;
}

.checkbox + .checkbox {
  padding-left: 8px;
}

.input-field {
  width: 300px;
}

.input-field + .input-field {
  padding-left: 24px;
}

.address-field {
  width: 600px;
}

.ms-Button {
  width: 150px;
}

.ms-Button.add-btn {
  width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #38ae5f;
  color:white;
}

.patient-notes-field {
  width: 600px;
}

.ms-Button.cancel-btn {
  width: 150px;
  margin-top: 10px;
  background-color: lightgrey;
}

.add-btn + .cancel-btn {
  margin-left: 24px;
}
